[submodule "source/binutils"]
	path = source/binutils
	url = git://github.com/bennoleslie/binutils.git
[submodule "source/gmp"]
	path = source/gmp
	url = git://github.com/bennoleslie/gmp.git
[submodule "source/mpfr"]
	path = source/mpfr
	url = git://github.com/bennoleslie/mpfr.git
[submodule "source/mpc"]
	path = source/mpc
	url = git://github.com/bennoleslie/mpc.git
[submodule "source/gcc"]
	path = source/gcc
	url = git://github.com/bennoleslie/gcc-core.git
[submodule "source/gdb"]
	path = source/gdb
	url = git://github.com/bennoleslie/gdb.git
[submodule "source/gettext"]
	path = source/gettext
	url = git://github.com/bennoleslie/gettext.git
[submodule "source/libffi"]
	path = source/libffi
	url = git://github.com/bennoleslie/libffi.git
[submodule "source/glib"]
	path = source/glib
	url = git://github.com/bennoleslie/glib.git
[submodule "source/pkg-config"]
	path = source/pkg-config
	url = git://github.com/bennoleslie/pkg-config.git
